/*
 * SPDX-FileCopyrightText: 2010-2026 the Friendica project
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* OpenDyslexic 3, see opendyslexic/OFL.txt for the font license. The font has no italic styles. */
@font-face {
  font-family: "OpenDyslexic 3";
  src: url("opendyslexic/OpenDyslexic3-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenDyslexic 3";
  src: url("opendyslexic/OpenDyslexic3-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html body,
html body :where(:not([class^="ri-"], [class*=" ri-"], code, pre, kbd, samp, tt)) {
  font-family: "OpenDyslexic 3", sans-serif !important;
}
